# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
db.sqlite3
staticfiles/
media/

# Poetry
backend/.venv/

# Node / frontend
node_modules/
frontend/dist/
frontend/.vite/

# Env files
.env
!.env.example

# Editors / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

DEPLOY*